CREATE DATABASE QUAN_LY_DIEM
USE [QUAN_LY_DIEM]
GO
/****** Object:  Table [dbo].[BangDiem]    Script Date: 10/21/2025 12:13:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BangDiem](
	[IdBangDiem] [int] NOT NULL,
	[MaSV] [varchar](10) NOT NULL,
	[MaLopTC] [varchar](10) NOT NULL,
	[DiemCC] [float] NULL,
	[DiemBT] [float] NULL,
	[DiemGK] [float] NULL,
 CONSTRAINT [PK__BANGDIEM] PRIMARY KEY CLUSTERED 
(
	[IdBangDiem] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UK_MaSV_MaLTC] UNIQUE NONCLUSTERED 
(
	[MaSV] ASC,
	[MaLopTC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CapNhatDiem]    Script Date: 10/21/2025 12:13:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CapNhatDiem](
	[IdCapNhatDiem] [int] NOT NULL,
	[MaNV] [varchar](10) NULL,
	[IdBangDiem] [int] NULL,
	[NgayNhap] [datetime] NULL,
	[DiemThi] [float] NULL,
 CONSTRAINT [PK_CapNhatDiem] PRIMARY KEY CLUSTERED 
(
	[IdCapNhatDiem] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UK_BangDiem_NV] UNIQUE NONCLUSTERED 
(
	[MaNV] ASC,
	[IdBangDiem] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DonPhucKhao]    Script Date: 10/21/2025 12:13:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DonPhucKhao](
	[MaSV] [varchar](10) NOT NULL,
	[IdCapNhatDiem] [int] NOT NULL,
	[LyDo] [ntext] NULL,
	[NgayGui] [datetime] NULL,
	[TrangThai] [bit] NULL,
	[MaNV] [varchar](10) NULL,
	[NgayDuyet] [datetime] NULL,
 CONSTRAINT [PK_DonPhucKhao] PRIMARY KEY CLUSTERED 
(
	[MaSV] ASC,
	[IdCapNhatDiem] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GiangVien]    Script Date: 10/21/2025 12:13:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GiangVien](
	[MaGV] [varchar](10) NOT NULL,
	[Ho] [nvarchar](50) NOT NULL,
	[Ten] [nvarchar](50) NOT NULL,
	[GioiTinh] [bit] NULL,
	[SoDT] [char](10) NOT NULL,
	[NgaySinh] [date] NOT NULL,
	[HocVi] [nvarchar](50) NULL,
	[Email] [varchar](50) NOT NULL,
	[MaKhoa] [varchar](10) NOT NULL,
	[MaTK] [int] NULL,
 CONSTRAINT [PK__GiangVie__2725AEF32616065B] PRIMARY KEY CLUSTERED 
(
	[MaGV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ__GiangVie__27250071C5E00CA9] UNIQUE NONCLUSTERED 
(
	[MaTK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Khoa]    Script Date: 10/21/2025 12:13:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Khoa](
	[MaKhoa] [varchar](10) NOT NULL,
	[TenKhoa] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK__Khoa__65390405E0D72CFF] PRIMARY KEY CLUSTERED 
(
	[MaKhoa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Lop]    Script Date: 10/21/2025 12:13:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lop](
	[MaLop] [varchar](10) NOT NULL,
	[MaKhoa] [varchar](10) NOT NULL,
 CONSTRAINT [PK__Lop__3B98D2730E9C8B07] PRIMARY KEY CLUSTERED 
(
	[MaLop] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LopTinChi]    Script Date: 10/21/2025 12:13:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LopTinChi](
	[MaLopTC] [varchar](10) NOT NULL,
	[MaMon] [varchar](10) NOT NULL,
	[MaGV] [varchar](10) NOT NULL,
	[NgayMoLop] [date] NULL,
	[SoLuongToiThieu] [int] NULL,
	[HocKi] [int] NULL,
	[TrangThai] [bit] NULL,
	[SoLuongToiDa] [int] NULL,
 CONSTRAINT [PK__LopTinCh__9769A9909B3E5ADA] PRIMARY KEY CLUSTERED 
(
	[MaLopTC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MonHoc]    Script Date: 10/21/2025 12:13:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MonHoc](
	[MaMon] [varchar](10) NOT NULL,
	[TenMon] [nvarchar](50) NOT NULL,
	[SoTietLT] [int] NOT NULL,
	[SoTietTH] [int] NOT NULL,
	[HeSoCC] [float] NULL,
	[HeSoBT] [float] NULL,
	[HeSoGK] [float] NULL,
	[HeSoCK] [float] NULL,
 CONSTRAINT [PK__MonHoc__3A5B29A84F26D447] PRIMARY KEY CLUSTERED 
(
	[MaMon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ__MonHoc__332EF565D096F4DA] UNIQUE NONCLUSTERED 
(
	[TenMon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanVienPKT]    Script Date: 10/21/2025 12:13:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVienPKT](
	[MaNV] [varchar](10) NOT NULL,
	[Ho] [nvarchar](50) NOT NULL,
	[Ten] [nvarchar](50) NOT NULL,
	[SoDT] [char](10) NOT NULL,
	[NgaySinh] [date] NOT NULL,
	[MaTK] [int] NULL,
 CONSTRAINT [PK__NhanVien__2725D70A6B8C45DF] PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ__NhanVien__27250071E2BF5B92] UNIQUE NONCLUSTERED 
(
	[MaTK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Quyen]    Script Date: 10/21/2025 12:13:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Quyen](
	[MaQuyen] [int] IDENTITY(1,1) NOT NULL,
	[TenQuyen] [nvarchar](50) NOT NULL,
	[MoTaQuyen] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaQuyen] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SinhVien]    Script Date: 10/21/2025 12:13:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SinhVien](
	[MaSV] [varchar](10) NOT NULL,
	[Ho] [nvarchar](50) NOT NULL,
	[Ten] [nvarchar](50) NOT NULL,
	[GioiTinh] [bit] NULL,
	[SoDT] [char](10) NOT NULL,
	[DiaChi] [nvarchar](max) NOT NULL,
	[NgaySinh] [date] NOT NULL,
	[Email] [varchar](50) NOT NULL,
	[MaLop] [varchar](10) NOT NULL,
	[MaTK] [int] NULL,
 CONSTRAINT [PK__SinhVien__2725081ABDED366E] PRIMARY KEY CLUSTERED 
(
	[MaSV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ__SinhVien__272500719B579527] UNIQUE NONCLUSTERED 
(
	[MaTK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 10/21/2025 12:13:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[MaTK] [int] IDENTITY(1,1) NOT NULL,
	[Username] [varchar](50) NOT NULL,
	[Password] [varchar](200) NOT NULL,
	[LoaiTK] [nvarchar](20) NOT NULL,
	[MaQuyen] [int] NOT NULL,
 CONSTRAINT [PK__TaiKhoan__272500702DF44B33] PRIMARY KEY CLUSTERED 
(
	[MaTK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[GiangVien] ADD  CONSTRAINT [DF__GiangVien__GioiT__47DBAE45]  DEFAULT ((0)) FOR [GioiTinh]
GO
ALTER TABLE [dbo].[SinhVien] ADD  CONSTRAINT [DF__SinhVien__GioiTi__4222D4EF]  DEFAULT ((1)) FOR [GioiTinh]
GO
ALTER TABLE [dbo].[BangDiem]  WITH CHECK ADD  CONSTRAINT [FK__SinhVien___MaLop__71D1E811] FOREIGN KEY([MaLopTC])
REFERENCES [dbo].[LopTinChi] ([MaLopTC])
GO
ALTER TABLE [dbo].[BangDiem] CHECK CONSTRAINT [FK__SinhVien___MaLop__71D1E811]
GO
ALTER TABLE [dbo].[BangDiem]  WITH CHECK ADD  CONSTRAINT [FK__SinhVien_L__MaSV__70DDC3D8] FOREIGN KEY([MaSV])
REFERENCES [dbo].[SinhVien] ([MaSV])
GO
ALTER TABLE [dbo].[BangDiem] CHECK CONSTRAINT [FK__SinhVien_L__MaSV__70DDC3D8]
GO
ALTER TABLE [dbo].[CapNhatDiem]  WITH CHECK ADD  CONSTRAINT [FK_CapNhatDiem_BangDiem] FOREIGN KEY([IdBangDiem])
REFERENCES [dbo].[BangDiem] ([IdBangDiem])
GO
ALTER TABLE [dbo].[CapNhatDiem] CHECK CONSTRAINT [FK_CapNhatDiem_BangDiem]
GO
ALTER TABLE [dbo].[CapNhatDiem]  WITH CHECK ADD  CONSTRAINT [FK_CapNhatDiem_NhanVienPKT] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NhanVienPKT] ([MaNV])
GO
ALTER TABLE [dbo].[CapNhatDiem] CHECK CONSTRAINT [FK_CapNhatDiem_NhanVienPKT]
GO
ALTER TABLE [dbo].[DonPhucKhao]  WITH CHECK ADD  CONSTRAINT [FK_DonPhucKhao_CapNhatDiem] FOREIGN KEY([IdCapNhatDiem])
REFERENCES [dbo].[CapNhatDiem] ([IdCapNhatDiem])
GO
ALTER TABLE [dbo].[DonPhucKhao] CHECK CONSTRAINT [FK_DonPhucKhao_CapNhatDiem]
GO
ALTER TABLE [dbo].[DonPhucKhao]  WITH CHECK ADD  CONSTRAINT [FK_DonPhucKhao_SinhVien] FOREIGN KEY([MaSV])
REFERENCES [dbo].[SinhVien] ([MaSV])
GO
ALTER TABLE [dbo].[DonPhucKhao] CHECK CONSTRAINT [FK_DonPhucKhao_SinhVien]
GO
ALTER TABLE [dbo].[GiangVien]  WITH CHECK ADD  CONSTRAINT [FK__GiangVien__MaKho__49C3F6B7] FOREIGN KEY([MaKhoa])
REFERENCES [dbo].[Khoa] ([MaKhoa])
GO
ALTER TABLE [dbo].[GiangVien] CHECK CONSTRAINT [FK__GiangVien__MaKho__49C3F6B7]
GO
ALTER TABLE [dbo].[GiangVien]  WITH CHECK ADD  CONSTRAINT [FK__GiangVien__MaTK__48CFD27E] FOREIGN KEY([MaTK])
REFERENCES [dbo].[TaiKhoan] ([MaTK])
GO
ALTER TABLE [dbo].[GiangVien] CHECK CONSTRAINT [FK__GiangVien__MaTK__48CFD27E]
GO
ALTER TABLE [dbo].[Lop]  WITH CHECK ADD  CONSTRAINT [FK__Lop__MaKhoa__3E52440B] FOREIGN KEY([MaKhoa])
REFERENCES [dbo].[Khoa] ([MaKhoa])
GO
ALTER TABLE [dbo].[Lop] CHECK CONSTRAINT [FK__Lop__MaKhoa__3E52440B]
GO
ALTER TABLE [dbo].[LopTinChi]  WITH CHECK ADD  CONSTRAINT [FK__LopTinChi__MaMon__5535A963] FOREIGN KEY([MaMon])
REFERENCES [dbo].[MonHoc] ([MaMon])
GO
ALTER TABLE [dbo].[LopTinChi] CHECK CONSTRAINT [FK__LopTinChi__MaMon__5535A963]
GO
ALTER TABLE [dbo].[LopTinChi]  WITH CHECK ADD  CONSTRAINT [FK_LopTinChi_GiangVien] FOREIGN KEY([MaGV])
REFERENCES [dbo].[GiangVien] ([MaGV])
GO
ALTER TABLE [dbo].[LopTinChi] CHECK CONSTRAINT [FK_LopTinChi_GiangVien]
GO
ALTER TABLE [dbo].[NhanVienPKT]  WITH CHECK ADD  CONSTRAINT [FK__NhanVienPK__MaTK__4D94879B] FOREIGN KEY([MaTK])
REFERENCES [dbo].[TaiKhoan] ([MaTK])
GO
ALTER TABLE [dbo].[NhanVienPKT] CHECK CONSTRAINT [FK__NhanVienPK__MaTK__4D94879B]
GO
ALTER TABLE [dbo].[SinhVien]  WITH CHECK ADD  CONSTRAINT [FK__SinhVien__MaLop__440B1D61] FOREIGN KEY([MaLop])
REFERENCES [dbo].[Lop] ([MaLop])
GO
ALTER TABLE [dbo].[SinhVien] CHECK CONSTRAINT [FK__SinhVien__MaLop__440B1D61]
GO
ALTER TABLE [dbo].[SinhVien]  WITH CHECK ADD  CONSTRAINT [FK__SinhVien__MaTK__4316F928] FOREIGN KEY([MaTK])
REFERENCES [dbo].[TaiKhoan] ([MaTK])
GO
ALTER TABLE [dbo].[SinhVien] CHECK CONSTRAINT [FK__SinhVien__MaTK__4316F928]
GO
ALTER TABLE [dbo].[TaiKhoan]  WITH CHECK ADD  CONSTRAINT [FK__TaiKhoan__MaQuye__3B75D760] FOREIGN KEY([MaQuyen])
REFERENCES [dbo].[Quyen] ([MaQuyen])
GO
ALTER TABLE [dbo].[TaiKhoan] CHECK CONSTRAINT [FK__TaiKhoan__MaQuye__3B75D760]
GO
ALTER TABLE [dbo].[MonHoc]  WITH CHECK ADD  CONSTRAINT [CK__MonHoc__SoTietLT__5165187F] CHECK  (([SoTietLT]>=(0)))
GO
ALTER TABLE [dbo].[MonHoc] CHECK CONSTRAINT [CK__MonHoc__SoTietLT__5165187F]
GO
ALTER TABLE [dbo].[MonHoc]  WITH CHECK ADD  CONSTRAINT [CK__MonHoc__SoTietTH__52593CB8] CHECK  (([SoTietTH]>=(0)))
GO
ALTER TABLE [dbo].[MonHoc] CHECK CONSTRAINT [CK__MonHoc__SoTietTH__52593CB8]
GO
USE [master]
GO
