<!DOCTYPE html>
<html lang="zxx">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="description" content="Orbitor,business,company,agency,modern,bootstrap4,tech,software">
  <meta name="author" content="themefisher.com">

  <title>Novena- Health & Care Medical template</title>

  <th:block th:replace="~{client/layout/header :: headContent}"></th:block>
</head>

<div th:replace="~{client/layout/header :: header}"></div>

<!-- Slider Start -->
<section class="section appoinment">
	<div class="container">
		<div class="appoinment-wrap mt-5 mt-lg-0">
			<h2 class="text-center mb-2 title-color">Đổi mật khẩu</h2>
				<div id="#" class="appoinment-form" method="post" action="#">
                    <div class="col-lg-6">
						<div class="form-group">
							<input name="newpassword" id="newpassword" type="text" class="form-control" placeholder="Nhập mật khẩu mới">
						</div>
					</div>

					<div class="col-lg-6">
						<div class="form-group">
							<input name="repeat" id="repeat" type="text" class="form-control" placeholder="Nhập lại mật khẩu mới">
						</div>
					</div>
					<a class="btn btn-main btn-round-full" href="login.html" >Xác nhận <i class="icofont-simple-right ml-2  "></i></a>
				</div>
        </div>
	</div>
</section>
<div th:replace="~{client/layout/footer :: footer}"></div>
<th:block th:replace="~{client/layout/footer :: scriptContent}"></th:block>
  </body>
  </html>
   